@{
    ViewBag.Title = "Player Page";
}

@section scripts
{
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/player.js")></script>
}
<div>
    <h2 id="playerNum" class="topRow" data-player="@ViewBag.player">Player @ViewBag.player</h2>
    <h2 id="damage" class="topRow" data-damage="@ViewBag.damage">Robot damage: </h2>
    @for (int i = 1; i <= 10; i++)
    {
        <span class="damageBox" id="damageBox_@i"></span>
    }

    <h3 class="topRow flagInfo">Flags touched: </h3>
    <span id="flagBoxes" class="flagInfo"></span>

    <h3  class="topRow">Lives remaining: </h3>
    <span id="lifeBoxes">
        <span class="lifeBox" id="lifeBox_1"></span>
        <span class="lifeBox" id="lifeBox_2"></span>
        <span class="lifeBox" id="lifeBox_3"></span>
    </span>
</div>
<h2 id="roboName">Robot: @ViewBag.robot</h2>
<div class="row">
    <div class="ui-widget ui-helper-clearfix">
        <ul id="cardsContainer" class="cards ui-helper-reset ui-helper-clearfix">                    
        </ul>
    </div>
</div>
<span id="timer"></span>
<div id="slots" class="row">
    @for (int j = 0; j < 5; j++)
    {
        <div id="slot@(j + 1)" class="slot ui-widget ui-widget-content">
            <h4 class="ui-widget-header">Slot @(j + 1)</h4>
            <ul class="slotList">               
            </ul>
        </div>
    }
    <div id="sendcards">
        <img id="submitButton" src=@Url.Content("~/images/cards/submit.png") alt="submt" />
        <hr />
        <input type="checkbox" id="shutdown"><label id="shutdownLabel" for="shutdown"><span id="labelText">Shutdown Next Round</span></label>
    </div>
</div>